@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
   background-image: url(images/old_wall.png);
   color: #07304e;
   margin: 0, auto;
}

/* Header/Navbar */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #07304e;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    display: block;
    font-size: 40px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.navbar a { 
    display: block;
    float: left;
    font-size: 18px;
    color:#ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover, 
.navbar a.active {
    color: #00abf0;
}

/* Home Page Stylings */
.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 800px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 28px;
    font-weight: 700;
    color:#038cc2;
}

.home-content p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 50px;
}

/* Main Profile Image*/
.home-img {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid #07304e;
    border-radius: 50%;
}

.profile-image img{
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    max-width: 420px;
    overflow: hidden;
    border-radius: 50%;
}

/* Info Buttons */
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #038cc2;
    border: 2px solid #038cc2;
    border-radius: 8px;
    font-size: 17px;
    color: #07304e;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .75s;
}

.btn-box a:hover {
    color: #038cc2;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #038cc2;
}

.btn-box a:nth-child(2):hover{
    color: #038cc2;
}

.btn-box a:nth-child(2)::before {
    background: #07304e;
}

.btn-box a:nth-child(3) {
    background: transparent;
    color: #038cc2;
}

.btn-box a:nth-child(3):hover{
    color: #038cc2;
}

.btn-box a:nth-child(3)::before {
    background: #07304e;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #07304e;
    z-index: -1;
    transition: .75s;
}

.btn-box a:hover::before {
    width: 100%;
}


/* About Me Page*/
.about {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}


/* Portfolio Page*/

.portfolio {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

/* Contact Page */
.contact {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

/* Social Buttons*/

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #038cc2;
    border-radius: 50%;
    font-size: 20px;
    color: #038cc2;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .75s;
}

.home-sci a:hover {
    color: #038cc2;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #07304e;
    z-index: -1;
    transition: .75s;
}

.home-sci a:hover::before {
    width: 100%;
}
